body
    margin: 0
    padding: 0
    box-sizing: border-box

$white: #fffcf2
$grey: #ccc5b9
$darkgrey: #403d39
$black: #252422
$orange: #eb5e28


header
    width: 100%
    min-height: 5vw
    background: $orange
    nav
        h1
            font-size: 2.2rem
            letter-spacing: 1.5px
            color: $black
            text-align: center
            margin-top: 0